/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
}

#ascii-wrapper {
    display: inline-block;
    vertical-align: top;
}

#asciiBox {
    resize: none;
    overflow: hidden;
    opacity: 0.5;
    font-family: monospace;
    letter-spacing: 1ex;
}